# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: floormarkets-indexer
description: Floor Markets DeFi Platform Indexer
unordered_multichain_mode: true
field_selection:
  transaction_fields:
    - 'hash'
    - 'from'
contracts:
  - name: ModuleFactory
    abi_file_path: abis/ModuleFactory_v1.json
    handler: src/index.ts
    events:
      - event: ModuleCreated

  - name: FloorMarket
    abi_file_path: abis/Floor_v1.json
    handler: src/index.ts
    events:
      - event: TokensBought
      - event: TokensSold
      - event: FloorPriceUpdated
      - event: VirtualCollateralAmountAdded
      - event: VirtualCollateralAmountSubtracted
      - event: FloorIncreased
      - event: BuyingEnabled
      - event: BuyingDisabled
      - event: SellingEnabled
      - event: SellingDisabled
      - event: BuyFeeUpdated
      - event: SellFeeUpdated
      - event: CollateralDeposited
      - event: CollateralWithdrawn

  - name: CreditFacility
    abi_file_path: abis/CreditFacility_v1.json
    handler: src/index.ts
    events:
      - event: LoanCreated
      - event: LoanRebalanced
      - event: LoanRepaid
      - event: LoanClosed
      - event: LoanToValueRatioUpdated
      - event: IssuanceTokensLocked
      - event: IssuanceTokensUnlocked

  - name: SplitterTreasury
    abi_file_path: abis/SplitterTreasury_v1.json
    handler: src/index.ts
    events:
      - event: FloorFeePaid
      - event: RecipientPayment

  - name: Presale
    abi_file_path: abis/Presale_v1.json
    handler: src/index.ts
    events:
      - event: BaseCommissionUpdated
      - event: CapsUpdated
      - event: DirectTokensClaimed
      - event: EndTimestampSet
      - event: Initialized
      - event: LendingFacilitySet
      - event: ModuleInitialized
      - event: PositionCreated
      - event: PresaleBought
      - event: PresaleStateSet
      - event: PriceBreakpointsSet
      - event: TimeSafeguardSet
      - event: TrancheClaimed
      - event: WhitelistUpdated

  - name: Authorizer
    abi_file_path: abis/AUT_Roles_v2.json
    handler: src/index.ts
    events:
      - event: RoleCreated
      - event: RoleLabeled
      - event: AccessPermissionAdded
      - event: AccessPermissionRemoved
      - event: RoleGranted
      - event: RoleRevoked
      - event: RoleAdminBurned

networks:
  - id: 31337 # Local Anvil
    start_block: 0
    rpc_config:
      # Allow overriding the RPC endpoint (e.g. local Anvil) via RPC_URL_31337
      url: '${RPC_URL_31337:-https://vfgvanuabr.eu-central-1.awsapprunner.com/}'
    contracts:
      - name: ModuleFactory
        # Allow overriding the ModuleFactory address via MODULE_FACTORY
        address: '${MODULE_FACTORY:-0xa4a09d6310272bb92c8f85823ab311732f28ff11}'
      - name: FloorMarket
        address:
      - name: CreditFacility
        address:
      - name: SplitterTreasury
        address:
      - name: Presale
        address:
      - name: Authorizer
        address:
