# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: floormarkets-indexer
description: Floor Markets DeFi Platform Indexer
unordered_multichain_mode: true
field_selection:
  transaction_fields:
    - 'hash'
contracts:
  - name: ModuleFactory
    abi_file_path: abis/ModuleFactory_v1.json
    handler: src/index.ts
    events:
      - event: ModuleCreated

  - name: FloorMarket
    abi_file_path: abis/BC_Discrete_Redeeming_VirtualSupply_v1.json
    handler: src/index.ts
    events:
      - event: TokensBought
      - event: TokensSold
      - event: VirtualCollateralAmountAdded
      - event: VirtualCollateralAmountSubtracted

  - name: CreditFacility
    abi_file_path: abis/CreditFacility_v1.json
    handler: src/index.ts
    events:
      - event: LoanCreated
      - event: LoanRepaid
      - event: LoanClosed
      - event: IssuanceTokensLocked
      - event: IssuanceTokensUnlocked

networks:
  - id: 31337 # Local Anvil
    start_block: 0
    rpc_config:
      url: https://vfgvanuabr.eu-central-1.awsapprunner.com/
    contracts:
      - name: ModuleFactory
        address: '0x0000000000000000000000000000000000000000' # Will be updated after deployment
      # FloorMarket and CreditFacility contracts are discovered dynamically via ModuleCreated events
      # They don't need addresses here - they'll be registered as events are processed
      - name: FloorMarket
        address:
      - name: CreditFacility
        address:
