# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: floormarkets-indexer
description: Floor Markets DeFi Platform Indexer
unordered_multichain_mode: true
field_selection:
  transaction_fields:
    - 'hash'
    - 'from'
contracts:
  - name: ModuleFactory
    abi_file_path: abis/ModuleFactory_v1.json
    handler: src/index.ts
    events:
      - event: ModuleCreated

  - name: FloorMarket
    abi_file_path: abis/Floor_v1.json
    handler: src/index.ts
    events:
      - event: TokensBought
      - event: TokensSold
      - event: VirtualCollateralAmountAdded
      - event: VirtualCollateralAmountSubtracted
      - event: FloorIncreased
      - event: BuyingEnabled
      - event: BuyingDisabled
      - event: SellingEnabled
      - event: SellingDisabled
      - event: BuyFeeUpdated
      - event: SellFeeUpdated
      - event: CollateralDeposited
      - event: CollateralWithdrawn

  - name: CreditFacility
    abi_file_path: abis/CreditFacility_v1.json
    handler: src/index.ts
    events:
      - event: LoanCreated
      - event: LoanRepaid
      - event: LoanClosed
      - event: IssuanceTokensLocked
      - event: IssuanceTokensUnlocked

  - name: SplitterTreasury
    abi_file_path: abis/SplitterTreasury_v1.json
    handler: src/index.ts
    events:
      - event: FloorFeePaid
      - event: RecipientPayment

networks:
  - id: 31337 # Local Anvil
    start_block: 0
    rpc_config:
      url: https://vfgvanuabr.eu-central-1.awsapprunner.com/
    contracts:
      - name: ModuleFactory
        address: '0xe3f075292144579aba62945cf6737b37dfb740fd'
      - name: FloorMarket
        address:
      - name: CreditFacility
        address:
      - name: SplitterTreasury
        address:
